doctype html
html
    head
        title ecopool-client
        meta( name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel='stylesheet' href='bts45/css/bootstrap.min.css')
        link(rel='stylesheet' href='stylesheets/style.css')
    body
        head
            nav.navbar.navbar-light.fixed-top.py-3.bg-white.navbar-expand-md.shadow
                button.navbar-toggler.border-0(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                a.navbar-brand( href="/")
                    img.d-inline-block.align-top(src="/images/e.svg" width="25")
                    span.px-2.d-none.d-md-inline-block(style='font-weight: bold')
                div#navbarNav.collapse.navbar-collapse.d-md-flex.text-center
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a( href="/pool").nav-link#pool-link Пул
                        li.nav-item
                            a( href="/plots").nav-link#plots-link Засев
                        li.nav-item
                            a( href="/farm").nav-link#farm-link Ферма
                        //li.nav-item
                        //    a( href="/settings").nav-link#settings-link Настройки
                        li.nav-item
                            a( href="/logout").nav-link#logout-link Выйти
        main.flex-shrink-0(role='main')
            block content
        block footer
            script(src='/javascripts/jq341.js')
            script(src='/bts45/js/bootstrap.min.js')
            script(src='/bts45/js/bootstrap.bundle.min.js')
        block scripts
