doctype html
html
    head
        title ecopool-client
        meta( name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel='stylesheet' href='bts45/css/bootstrap.min.css')
        link(rel='stylesheet' href='stylesheets/style.css')
    body
        main.flex-shrink-0(role='main')
            block content
        block footer
            script(src='/javascripts/jq341.js')
            script(src='/bts45/js/bootstrap.min.js')
            script(src='/bts45/js/bootstrap.bundle.min.js')
