extends layout

block content
    .container(style="margin-top: 10rem")
        .row
            .col-12
                h2.font-weight-bold Участки
        .row
            .col-12.d-flex.justify-content-end
                button.btn.btn-success.shadow(type="button" class="" data-toggle="modal" data-target="#addPlot") Добавить участок

    #addPlot.modal.fade(tabindex="-1" role="dialog" aria-labelledby="addPlotTitle" aria-hidden="true")
        .modal-dialog.modal-dialog-centered.modal-lg(role="document")
            .modal-content.p-3.border-radius-05rem.bg-white
                .modal-header.border-0
                    h5#exampleModalCenterTitle.modal-title Добавить участок
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .card.border-radius-1rem.border-0.shadow-sm.p-2
                        .card-header.bg-white
                            h5.m-0 Выберите размер участка
                        .card-body
                            p.card-text Во время процесса засеивания участков создаются временные файлы, размер которых превышает размер итоговых файлов участков. Убедитесь, что у вас достаточно места.
                            .form-group.validAddPlots
                                select#size.form-control.bg-transparent.validAddPlots(name="size")
                                    option(value=32) 101.4Gb (k=32, temporary space: 239GiB)
                                    option(value=33) 208.8Gb (k=33, temporary space: 512GiB)
                                    option(value=34) 429.8Gb (k=34, temporary space: 1041GiB)
                                    option(value=35) 884.1Gb (k=35, temporary space: 2175GiB)
                    .card.border-radius-1rem.border-0.shadow-sm.p-2.mt-4
                        .card-header.bg-white
                            h5.m-0 Выберите количество участков
                        .card-body
                            .form-group.validAddPlots
                                input#quantityPlots.form-control.bg-transparent.validAddGoodS(type="number" name="quantity-plots" value=1 min=1 max=29)
                            p.card-text Поддерживает ли ваша машина параллельное засеивание? &nbsp;
                                | Параллельное засеивание позволяет сэкономить время. Также вы можете создать очередь засеивания участков.
                            //.form-check
                            //    input#queueRadios.form-check-input(type='radio' name='radios' value='queue' checked='')
                            //    label.form-check-label(for='queueRadios')
                            //        | Добавить участок в очередь
                            //.form-check
                            //    input#parallelRadios.form-check-input(type='radio' name='radios' value='parallel')
                            //    label.form-check-label(for='parallelRadios')
                            //        | Засеивать параллельно
                            //.form-group.col-md-6
                            //    p.card-text.small Хотите установить задержку между стартом параллельного засевания файлов? &nbsp
                            //        | доступно при засеивании параллельно
                            //    label.small(for='ram') Задержка (Минуты)
                            //    input#delay.form-control(type='number' value=1)
                            p.mt-2 Дополнительные опции
                            .form-row
                                .form-group.col-md-6
                                    label.small(for='ram') Максимальное использование ОЗУ (MiB)
                                    input#ram.form-control(type='number' value=2400 required)
                                    small#ramHelp.form-text.text-muted
                                .form-group.col-md-6
                                    label.small(for='threads') Количество потоков
                                    input#threads.form-control(type='number' value=1 required)
                                    small#helpThreads.form-text.text-muted
                            .form-row
                                .form-group.col-md-6
                                    label.small(for='segments') Количетво сегментов
                                    input#segments.form-control(type='number' value=128 required)
                                //.form-group.col-md-6
                                //    label.small(for='queue-name') Имя очереди
                                //    input#queue-name.form-control(type='text' value='ecopool')
                            .form-check
                                input#disables-bitfield.form-check-input(type='checkbox' value='')
                                label.form-check-label(for='disables-bitfield')
                                    | Отключить побитовое поле
                            //.form-check
                            //    input#exclude-final-directory.form-check-input(type='checkbox' value='')
                            //    label.form-check-label(for='exclude-final-directory')
                            //            | Исключить окончательную директорию
                    .card.border-radius-1rem.border-0.shadow-sm.p-2.mt-4
                        .card-header.bg-white
                            h5.m-0 Укажите временный каталог
                        .card-body
                            p.card-text Укажите путь до временной папки, в которой вы хотите формировать участок. Мы рекомендуем использовать быстрый твердотельный накопитель SSD.
                            .form-row
                                .form-group.col-md-8
                                    input#temp-directory.form-control.bg-transparent(type='text' value='' required)
                                .form-group.col-md-4
                                    //button#select-temp-directory.btn.btn-primary.btn-block Обзор
                    .card.border-radius-1rem.border-0.shadow-sm.p-2.mt-4
                        .card-header.bg-white
                            h5.m-0 Укажите окончательный каталог
                        .card-body
                            p.card-text Укажите путь для конечной папки, в которой вы хотите хранить участок. Мы рекомендуем вам использовать большой медленный жесткий диск (например, внешний жесткий диск HDD).
                            .form-row
                                .form-group.col-md-8
                                    input#final-directory.form-control.bg-transparent(type='text' value='' required)
                                .form-group.col-md-4
                                    //button#select-final-directory.btn.btn-primary.btn-block Обзор
                    .modal-footer.border-0.p-0.mt-4
                        button#add-plot.btn.btn-success(type="submit") Создать участок
block scripts
    script(src='/javascripts/plots.js')