<template>
    <el-menu style="min-width: 240px;" :router="true">
        <el-menu-item index="1" route="/dashboard" @click="$router.push('/dashboard')">
            <i class="el-icon-s-marketing"></i> Dashboard
        </el-menu-item>
        <el-menu-item index="2" @click="$router.push('/wallet')">
            <i class="el-icon-wallet"></i> Wallet
        </el-menu-item>
        <el-menu-item index="3" @click="updateClient()">
            <div>
                <i class="el-icon-download"></i> Update client <template v-if="currentVerion !== newVersion">(to: {{ newVersion }})</template>
            </div>
        </el-menu-item>
        <el-menu-item index="Farm" :route="{name: '/farm'}" @click="$router.push('/farm')">
            <i class="el-icon-box"></i> Farming
        </el-menu-item>
        <el-menu-item index="4" @click="logout()">
            <i class="el-icon-user"></i> Logout
        </el-menu-item>
    </el-menu>
</template>

<script>
import axios from 'axios';

import ElLoading from "element-plus/lib/el-loading";

import ElMenu from 'element-plus/lib/el-menu';
import ElMenuItem from 'element-plus/lib/el-menu-item';

import packageSrc from '../../../../package.json';

export default {
    name: "sidebar",
    components: {
        // navigationItem,
        ElMenu,
        ElMenuItem
    },
    computed: {
        currentVerion() {
            return packageSrc.version;
        },
        newVersion() {
            return this.$store.state.user.newVersion;
        }
    },
    methods: {
        async logout () {
            ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/logout',
            }).then(resp => {
                console.log(resp);
                window.location.reload();
            }).catch(error => {
                console.log(error);
                window.location.reload();
            })
        },
        async updateClient() {
            ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            await axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/update-client',
            });

            setTimeout(() => {
                window.location.reload();
            }, 5000);
        }
    }
}
</script>

<style lang="scss" scoped>
.logout {
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    color: black;
    font-family: Arial, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    background: rgba(144, 147, 153, 0.25);
}
.disabled-navigation{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    color: black;
    line-height: 1;
    font-family: Arial, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    background: rgba($info, .7);
}
.notice {
    font-size: 14px;
    width: 100%;
}
.closed {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}
</style>