<template>
    <div class="dashboard-wrapper">
        <el-row :gutter="20">
            <el-col :span="4">
                <el-card class="box-card">
                    <template #header>
                        Total Network Space
                    </template>
                    <div class="description">
                        {{poolNetSpace}}
                    </div>
                </el-card>
            </el-col>
            <el-col :span="4">
                <el-card :span="8" class="box-card">
                    <template #header>
                        Total Size of Plots
                    </template>
                    <div class="description">
                        {{userNetSpace}}
                    </div>
                </el-card>
            </el-col>
            <el-col :span="4">
                <el-card :span="8" class="box-card">
                    <template #header>
                        My Balance
                    </template>
                    <div class="description">
                        {{userBalance}}
                    </div>
                </el-card>
            </el-col>
            <el-col :span="4">
                <el-card :span="8" class="box-card">
                    <template #header>
                        Pending Withdrawals
                    </template>
                    <div class="description">
                        {{pendingWithdrawalTotal}}
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import axios from "axios";

import iecMetricsMixin from '../mixins/iec-metrics';

import ElCard from 'element-plus/lib/el-card';
import ElRow from 'element-plus/lib/el-row';
import ElCol from 'element-plus/lib/el-col';

export default {
    name: "Dashboard",
    data() {
        return {
            poolNetSpace: '0 GiB',
            userNetSpace: '0 GiB',
            plotsCount: 12,
        }
    },
    components: {
        ElCard,
        ElRow,
        ElCol
    },
    mixins: [
        iecMetricsMixin
    ],
    computed: {
        token() {
            return this.$store.state.user.token;
        },
        userBalance() {
            return (+this.$store.state.user.userBalance).toFixed(16);
        },
        pendingWithdrawalTotal() {
            return this.$store.state.user.pendingWithdrawals
                .reduce((res, item) => {
                    return res + (+item.amount) + (+item.fee);
                }, 0);
        }
    },
    methods: {
        async getInfo() {
            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/user/volume',
                data: {
                    token: this.token
                }
            })
                .then(resp => {
                    if (resp.data.success) {
                        console.log(resp.data.answer)

                        this.poolNetSpace = this.getIecValue(+resp.data.answer.pool).toString()
                        this.userNetSpace = this.getIecValue(+resp.data.answer.user).toString();
                    } else {
                        console.error('some error has occured');
                    }
                })
                .catch(error => {console.log(error)});

            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/user/balance'
            })
                .then(resp => {
                    if (resp.data.success) {
                        console.log(resp.data.answer)

                        this.$store.commit('user/setBalance', resp.data.answer.userBalance);
                    } else {
                        console.error('some error has occured');
                    }
                })
                .catch(error => {console.log(error)});

            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/user/pending-withdrawals'
            })
                .then(resp => {
                    if (resp.data.success) {
                        console.log(resp.data.answer)

                        this.$store.commit('user/setPendingWithdrawals', resp.data.answer.pendingWithdrawals);
                    } else {
                        console.error('some error has occured');
                    }
                })
                .catch(error => {console.log(error)});
        }
    },
    async mounted() {
        await this.getInfo();
    }
}
</script>

<style lang="scss" scoped>
.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .row {
        margin-bottom: 20px;
        display: flex;
    }
    .card {
        margin: 0 20px;
        min-width: 200px;
        padding: 20px;
        border-radius: 5px;
        background: $white;
        .title {
            margin-bottom: 10px;
        }
        .description {
        
        }
    }
}
</style>