<template>
    <form @submit.prevent="onSignIn">
        <el-input
            required
            :class="{'error': error.show}"
            class="input center"
            type="email"
            placeholder="login"
            v-model="login"/>
        <el-input
            required
            :class="{'error': error.show}"
            class="input center"
            placeholder="password"
            v-model="password"
            show-password/>
        <div v-if="error.show" class="error-text">
            {{error.text}}
        </div>
        <el-button
            class="button"
            type="success"
            native-type="submit">
            Sign in
        </el-button>
        <div class="description">OR</div>
    </form>
</template>

<script>

import axios from 'axios';
import ElInput from 'element-plus/lib/el-input';
import ElButton from 'element-plus/lib/el-button';

import ElLoading from 'element-plus/lib/el-loading';

export default {
    name: 'LoginPage',
    components: {
        ElInput,
        ElButton
    },
    data() {
        return {
            login: '',
            password: '',
            error: {
                show: false,
                text: '',
            }
        }
    },
    methods: {
        async onSignIn() {
            const {
                login,
                password
            } = this;

            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            await axios({
                method: 'post',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/login',
                data: {
                    login,
                    password
                }
            })
                .then(resp => {
                    if (resp.data.success) {
                        this.$store.commit('user/setAuth', true);

                        if (resp.data.answer.checkChia) {
                            this.$store.commit('user/setPathStatus', resp.data.answer.checkChia);
                            this.$router.push('/dashboard');
                        } else {
                            this.$router.push('/request_chia_path');
                        }
                    } else {
                        this.error.show = true;
                        this.error.text = resp.data.answer.error || 'an error has occured, please contact support';
                    }
                })
                .catch(error => {
                    console.error(error);
                    this.error.show = true;
                    this.error.text = 'an error has occured, please contact support'
                });

            loading.close();
        }
    }
}

</script>

<style lang="scss" scoped>
.input {
    margin-bottom: 20px;
}
.error-text {
    margin-bottom: 20px;
    text-align: center;
    color: $red;
}
.button {
    width: 100%;
}
.description {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: $info;
    font-size: 16px;
}
</style>
