<template>
    <div class="wrapper">
        <div class="description">
            We could not determine the chia directory,
            <br/>
            Specify the path to the directory manually.
        </div>
        <el-input class="input" :class="{'error': error.show}"
                  v-model="path" placeholder="Enter path to your chia folder"/>
        <div v-if="error.show" class="error-text">
            {{error.text}}
        </div>
        <el-button class="button" type="success" @click="onSubmit">
            SUBMIT
        </el-button>
    </div>
</template>

<script>
import axios from "axios";

import ElInput from 'element-plus/lib/el-input';
import ElButton from 'element-plus/lib/el-button';

export default {
    name: "requestChiaPath",
    data() {
        return {
            path: '',
            error: {
                show: false,
                text: '',
            }
        }
    },
    components: {
        ElInput,
        ElButton
    },
    methods: {
        async onSubmit() {
            axios({
                method: 'post',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/user/set-chia',
                data: {
                    token: this.token,
                    path: this.path,
                }
            })
            .then(resp => {
                if(resp.data.success) {
                    this.$store.commit('user/setPathStatus', resp.data.success);
                    this.$router.push('/dashboard');
                } else {
                    this.error.show = true;
                    this.error.text = 'Incorrect path to folder';
                }
            })
            .catch(error => {
                console.error(error);
                this.error.show = true;
                this.error.text = 'an error has occured, please contact support';
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: $white;
    .description {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .button {
        margin-top: 20px;
        max-width: 150px;
        width: 100%;
    }
    .error-text {
        margin-top: 20px;
        text-align: center;
        color: $red;
    }
}
</style>