<template>
    <transition name="fade" mode="out-in">
        <Authorized v-if="isAuth"></Authorized>
        <UnAuthorized v-else></UnAuthorized>
    </transition>
</template>

<script>
import {mapState} from 'vuex';
import Authorized from './layouts/Authorized';
import UnAuthorized from './layouts/UnAuthorized';
import axios from "axios";

import ElLoading from 'element-plus/lib/el-loading';

export default {
    name: 'App',
    computed: {
        ...mapState('user', ['isAuth']),
    },
    components: {
        Authorized,
        UnAuthorized,
    },
    mounted() {
        let loading = ElLoading.service({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
        });

        axios({
            method: 'get',
            baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
            url: '/check-login'
        })
            .then((result) => {
                this.$store.commit('user/setAuth', result.data);
                loading.close();

                if (result.data) {
                    this.$router.push('/dashboard');
                }
            });

        axios({
            method: 'get',
            baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
            url: '/update-client/version'
        })
            .then((result) => {
                this.$store.commit('user/setNewVersion', result.data);
            })
    }
}

</script>
