<template>
    <div class="authorized-wrapper">
        <sidebar />
        <div class="content">
            <router-view v-slot="{Component}">
                <transition name="fade" mode="out-in" apper>
                    <component :is="Component" />
                </transition>
            </router-view>
        </div>
    </div>
</template>

<script>
import sidebar from '../components/layout/sidebar/sidebar';

export default {
    name: 'AuthorizedLayout',
    components: {
        sidebar
    }
}

</script>
