<template>
    <div class="unauthorized-wrapper"
    >
        <div class="page-content">
            <div class="logo-wrapper">
                <img class="logo" src="../assets/images/logo.jpeg" alt=""/>
                <div class="logo-text">Eco Pool</div>
            </div>
            <router-view v-slot="{Component}">
                <transition name="fade" mode="out-in">
                    <component :is="Component"/>
                </transition>
            </router-view>
            <transition name="fade" mode="out-in" appear>
                <router-link class="router-button" v-if="isLoginPage" :to="{name: 'Registration'}">
                    <el-button
                        class="button"
                        type="success">
                        Registration
                    </el-button>
                </router-link>
                <router-link class="router-button" v-else :to="{name: 'Login'}">
                    <el-button
                        class="button"
                        type="success">
                        Sign in
                    </el-button>
                </router-link>
            </transition>
        </div>
    </div>
</template>

<script>

import ElButton from 'element-plus/lib/el-button';

export default {
    name: 'UnAuthorizedLayout',
    components: {
        ElButton
    },
    data: () => {
        return {
            isLoginPage: true,
        }
    },
    watch: {
        '$route': function (val) {
            this.isLoginPage = val.name === 'Login';
        }
    },
}

</script>

<style lang="scss" scoped>
.router-button {
    display: block;
    margin-top: 10px;

    .button {
        width: 100%;
    }
}
</style>